[
		{mnesia, 
			[
				{dir,"/opt/erlang/erl_mon/erl_mon/backup/mnesia_new_new/"}
			]
		},
		{erlmon_lib,
			[
				{mail_settings,
					[
						{host,""},
						{username,""},
						{password,""},
						{from_email_address,""}
					]
				}
			]	
		},
		{erlmon_worker_pool,
			[
				{
					odbc_cs,
						[	
							{host,""},
							{username,""},
							{password,""},
							{pool_name,db_pool},
							{timeout_query,5000},
							{number_workers,1},
							{worker_strategy,best_worker},
							{timeout_request,5000}
						]
				}	
			]
		},
		{erlmon_sock,
			[{port, 8002},{name,counter},{limit,10}]
		},
		{yaws,
			[{conf, "conf/yaws.conf"}]
		}
].
