[
		{mnesia, 
			[
				{dir,"mnesia/mnesia_install/"}
			]
		},
		{yapp,
			[
				{yapp_registry_impl, yapp_ets_server}
			]
		},
		{erl_mon,[]},
		{ssl,[{protocol_version,['tlsv1.2','tlsv1.1']}]},
		{erlmon_lib,
			[
				{mail_settings,
					[
						{host,"${EMAIL_HOST}"},
						{username,"${EMAIL_USER}"},
						{password,"${EMAIL_PASS}"},
						{from_email_address,"${EMAIL_FROM_ADDRESS}"}
					]
				}
			]	
		},
		{erlmon_sock,
			[
				{interfaces,
					[
						#{port => 8002,name => test,limit =>100,byte_header_size => 3,server_address => "127.0.0.1",spec_path => "interface_conf/test.cfg",mti_spec_path => "interface_conf/test_fields_check.cfg"}
					]
				},
				{client_server_address,"127.0.0.1"},{client_spec_path,"interface_conf/test.cfg"},{client_port,8002},{client_byte_header_size,3}				
			]
		},
		{erlmon_worker_pool,
			[
				{
					odbc_cs,
						[	
							{host,"${DB_HOST}"},
							{username,"${DB_USER}"},
							{password,"${DB_PASS}"},
							{pool_name,db_pool},
							{timeout_query,5000},
							{number_workers,5},
							{worker_strategy,best_worker},
							{timeout_request,5000}
						]
				}	
			]
		},
		{erlmon_sock,
			[{port, 8002},{name,counter},{limit,10},{byte_header_size,4}]
		},
		{yaws,
			[{conf, "conf/yaws.conf"}]
		}
].
