{erl_opts, [debug_info]}.
{deps, [
			{yaws,{git,"https://github.com/klacke/yaws.git",{branch,"master"}}},
			{yapp,{git,"https://github.com/nayibor/yapp.git",{branch,"master"}}},
			{erlmon_lib, {git, "https://github.com/nayibor/erlmon_lib.git", {branch, "master"}}},
			{erlmon_worker_pool, {git, "https://github.com/nayibor/erlmon_worker_pool.git", {branch, "develop"}}},
			{erlmon_sock, {git, "https://github.com/nayibor/erlmon_sock.git", {branch, "master"}}},
			{erlydtl,{git,"https://github.com/erlydtl/erlydtl.git",{branch,"0.12.1"}}}
	   ]
}.
{shell, [{apps, [erl_mon]},{config,"shell.config"}]}.
{ct_opts, [{logdir, "logs/ct_runs/"},{sys_config,"test.config"}]}.
{edoc_opts, [{dir,"doc"}]}.
{plugins, 
	[
		{rebar3_erlydtl_plugin, ".*",{git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}},
		{erl_tidy_prv_fmt, ".*", {git, "git://github.com/tsloughter/erl_tidy.git", {branch, "master"}}}
	]
}.
{provider_hooks, [{pre, [{compile, {erlydtl, compile}}]}]}.
{erlydtl_opts,[{module_ext,""},
				{compiler_options,
					[
						{verbose,verbose},
						{record_info,
							[					
								{test_transform,[id,name]},
								{usermod_rules_users,[ruleid,userid]},
								{test_rec,[name,fname,lname]},
								{auto_inc,[name,cvalue]},
								{usermod_role_links,[role_id,link_id]},
								{usermod_users_roles,[user_id,role_id]},
								{usermod_roles,[id,role_short_name,role_long_name]},
								{usermod_users,[id,user_email,password,fname,lname,site_id,inst_id,lock_status,reset_time_max,reset_status]},
								{usermod_roles,[id,role_short_name,role_long_name]},
								{usermod_sites,[id,site_short_name,site_long_name,inst_id]},
							    {usermod_links,[id,link_controller,link_action,link_allow,link_category,link_name,link_type]},
							    {usermod_categories,[id,category]},
								{usermod_inst,[id,inst_short_name,inst_long_name,inst_ident]},
								{tempmod_temp,[id,ident,temp_fun,description,category_temp]},
								{tempmod_rules_temp,[id,site_id,template_id,rule_fun,rule_options,description,category_rule,rule_status,rule_users]},
								{tempmod_rule_cat,[id,description]},
								{tempmod_temp_cat,[id,description]},
								{usermod_inst,[id,inst_short_name,inst_long_name,inst_ident]}
							]
						},
						{debug_info,debug_info},
						{report,true}
					]
				}
			 ]
}.
{relx, 
	[
		{release, {"erl_mon_web_release", "0.0.1"},[erl_mon]},
		{dev_mode, false},
		{include_erts, true},
		{extended_start_script, true},
		{sys_config,"prod.config"},
		{include_src, false},
		{overlay, [
					{mkdir, "logs"},
					{mkdir,"logs/yaws_logs"},
					{mkdir,"mnesia"},
					{mkdir,"conf"},
					{mkdir,"docroot_gconf"},
					{copy,"yaws_prod.conf","conf/yaws.conf"},
					{copy, "backup/mnesia_new_new/", "mnesia"}
				  ]
		}
	]
}.
