{erl_opts, [debug_info]}.
{deps, [
			{yaws,{git,"https://github.com/klacke/yaws.git",{tag,"yaws-2.0.6"}}},
			{yapp,{git,"https://github.com/nayibor/yapp.git",{branch,"master"}}},
			{erlmon_lib, {git, "https://github.com/nayibor/erlmon_lib.git", {branch, "master"}}},
			{erlmon_worker_pool, {git, "https://github.com/nayibor/erlmon_worker_pool.git", {branch, "develop"}}},
			{erlmon_sock, {git, "https://github.com/nayibor/erlmon_sock.git", {branch, "master"}}},
			{erlydtl,{git,"https://github.com/erlydtl/erlydtl.git",{tag,"0.12.1"}}},
			{iso8583_erl,{git,"https://github.com/nayibor/iso8583_erl.git",{branch,"master"}}},
			{ranch,{git,"https://github.com/ninenines/ranch.git",{branch,"master"}}}
	   ]
}.
{shell, [{apps, [erl_mon]},{config,"shell.config"}]}.
{ct_opts, [{logdir, "logs/ct_runs/"},{sys_config,"test.config"}]}.
{edoc_opts, [{dir,"doc"}]}.
{plugins, 
	[
		{rebar3_erlydtl_plugin, ".*", {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}},
		{pc, "1.6.0"}
	]
}.
{
   provider_hooks, 
     [
		{pre,  [{compile, {erlydtl, compile}}]}
	]}.
{overrides,
 [
  {override, yaws,
   [
    {plugins, [pc]},
    {provider_hooks,
     [{post, [
              {compile, {pc, compile}},
              {clean, {pc, clean}}
             ]
      }]
    }
   ]
  },
  {del, [{erl_opts, [warnings_as_errors]}]}

 ]
}.
{erlydtl_opts,[{module_ext,""},
				{compiler_options,
					[
						{verbose,verbose},
						{record_info,
							[					
								{test_transform,[id,name]},
								{usermod_rules_users,[ruleid,userid]},
								{test_rec,[name,fname,lname]},
								{auto_inc,[name,cvalue]},
								{usermod_role_links,[role_id,link_id]},
								{usermod_users_roles,[user_id,role_id]},
								{usermod_roles,[id,role_short_name,role_long_name]},
								{usermod_users,[id,user_email,password,fname,lname,site_id,inst_id,lock_status,reset_time_max,reset_status]},
								{usermod_roles,[id,role_short_name,role_long_name]},
								{usermod_sites,[id,site_short_name,site_long_name,inst_id]},
							    {usermod_links,[id,link_controller,link_action,link_allow,link_category,link_name,link_type]},
							    {usermod_categories,[id,category]},
								{usermod_inst,[id,inst_short_name,inst_long_name,inst_ident]},
								{tempmod_temp,[id,ident,temp_fun,description,category_temp]},
								{tempmod_rules_temp,[id,site_id,template_id,rule_fun,rule_options,description,category_rule,rule_status,rule_users]},
								{tempmod_rule_cat,[id,description]},
								{tempmod_temp_cat,[id,description]},
								{usermod_inst,[id,inst_short_name,inst_long_name,inst_ident]}
							]
						},
						{debug_info},
						{return_warnings},
						{return_errors},
						{report,true}
					]
				}
			 ]
}.

{relx, [
		{release, {"erl_mon_web_release", "0.0.3"},
	         [erl_mon],
	         [
				{include_erts, true},
				{dev_mode, false},
				{include_erts, true},
				{extended_start_script, true},
				{sys_config_src,"prod.config"},
				{vm_args, "vm.args.src"},
				{include_src, false},
				{overlay, [
							{mkdir, "logs"},
							{mkdir,"logs/yaws_logs"},
							{mkdir,"conf"},
							{mkdir,"docroot_gconf"},
							{mkdir,"mnesia"},
							{copy,"yaws_prod.conf","conf/yaws.conf"},
							{copy, "/opt/erlang/erl_mon/erl_mon/backup/mnesia_7611f6dfaed9/*", "mnesia"}
						  ]
				}
	          ]
         },
		{release, {"erlmon_docker", "0.0.5"},
	         [erl_mon],
	         [
				{dev_mode, false},
				{include_erts, true},
				{dev_mode, false},
				{include_erts, true},
				{extended_start_script, true},
				{sys_config_src,"prod.config"},
				{include_src, false},
				{overlay, [
							{mkdir, "logs"},
							{mkdir,"logs/yaws_logs"},
							{mkdir,"conf"},
							{mkdir,"docroot_gconf"},
							{mkdir,"mnesia"},
							{copy,"yaws_prod.conf","conf/yaws.conf"},
							{copy, "backup/mnesia_install/", "mnesia"}
						  ]
				}
	          ]
         },
		{release, {"erl_mon_web_pdc", "0.0.2"},
	         [erl_mon],
	         [
				{dev_mode, false},
				{dev_mode, false},
				{include_erts, false},
				{system_libs, false},
				{extended_start_script, true},
				{sys_config,"prod.config"},
				{include_src, false},
				{overlay, [
							{mkdir, "logs"},
							{mkdir,"logs/yaws_logs"},
							{mkdir,"conf"},
							{mkdir,"docroot_gconf"},
							{copy,"yaws_prod.conf","conf/yaws.conf"},
							{copy, "/opt/erlang/erl_mon/erl_mon/backup/mnesia_PDC-CSTW-01", "mnesia"}
						  ]
				}
	          ]
         }
	]
}.
