[
		{mnesia, 
			[
				{dir,"backup/mnesia_install/"}
			]
		},
		{erlmon_lib,
			[
				{mail_settings,
					[
						{host,"smtp.gmail.com"},
						{username,"erltest01_01_01@gmail.com"},
						{password,"2,Pb<5RUwc72/[q|J)f!X"},
						{from_email_address,"nayibor@gmail.com"}
					]
				}
			]	
		},
		{ssl,[{protocol_version,['tlsv1.2','tlsv1.1']}]},
		{erlmon_worker_pool,
			[
				{
					odbc_cs,
						[	
							{host,"mssql_server"},
							{username,"sa"},
							{password,"12345678Azxfvgygg4"},
							{pool_name,db_pool},
							{timeout_query,5000},
							{number_workers,1},
							{worker_strategy,best_worker},
							{timeout_request,5000}
						]
				}	
			]
		},
		{erl_mon,[]
		},
		{erlmon_sock,
			[
				{interfaces,
					[
						#{port => 8002,name => interface_gh,limit =>100,byte_header_size => 3,server_address => "127.0.0.1",spec_path => "interface_conf/custom_nexos.cfg",mti_spec_path => "interface_conf/custom_nexos_fields_check.cfg"},
						#{port => 8003,name => interface_mli,limit =>100,byte_header_size => 3,server_address => "127.0.0.1",spec_path => "interface_conf/custom_nexos.cfg",mti_spec_path => "interface_conf/custom_nexos_fields_check.cfg"} 
					]
				},
				{client_server_address,"127.0.0.1"},{client_spec_path,"interface_conf/custom_nexos.cfg"},{client_port,8002},{client_byte_header_size,3}				
			]
		},
		{yaws,
			[{conf, "yaws.conf"}]
		},
		{lager, 
			[
				{log_root, "logs"},
				{handlers, 
					[
						{lager_console_backend, [{level, info}]},
						{lager_file_backend, [{file, "lager-error.log"}, {level, error}]},
						{lager_file_backend, [{file, "lager-console.log"}, {level, info}]}
					]
				}
			]
		}
].
